<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html ng-app="scrumPokerHangout">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <style>
/* ###app.css### */
        </style>
    </head>
    <body ng-controller="mainCtrl">
        <div class="buttons">
            <button class="iconBtn" ng-click="showConfig = true"><span class="fa fa-gear"/></button>
        </div>
        <h1 class="title">Scrum Poker <span class="ver">###version###</span></h1>

        <div id="myCards">
            <div class="pokerCardSm" ng-repeat="card in cards" ng-click="selectCard(card)" 
                ng-class="{cardStateNone: card == 'None', cardStateSelected: card == state.cardSelected, cardStateToggle: card == 'Break' &amp;&amp; state.needBreak}">
                <div class="card{{card}}"></div>
            </div>
        </div>
        <div class="buttons">
            <button class="iconBtn" ng-click="resetAll()" title="Will reset everyones cards to ?, and hide all.  NO UNDO"><span class="fa fa-rotate-left"/></button>
            <button class="iconBtn" ng-click="showAll(false)" ng-show="reveal" title="Will hide all cards from everyone."><span class="fa fa-eye"/></button>
            <button class="iconBtn" ng-click="showAll(true)" ng-hide="reveal" title="Will show all cards to everyone."><span class="fa fa-eye-slash"/></button>
        </div>
        <div id="mainList">
            <ul class="person">
                <li ng-repeat="person in people | orderBy:'displayName' | filter:{online: true}" ng-class="{animate: $parent.animate}">
                    <img class="avatar" src="{{person.image}}" alt="avatar">
                    <div class="infoBlock">
                        <div class="pokerCardLg" ng-class="{cardStateNone: person.state.cardSelected == 'None', consensus: consensus}">
                            <div ng-show="reveal" class="card{{person.state.cardSelected}}"></div>
                            <div ng-show="!reveal && person.state.cardSelected == 'None'" class="cardNone"></div>
                            <div ng-show="!reveal && person.state.cardSelected != 'None'" class="{{person.state.cardBack}}"></div>
                        </div>
                        <div class="pokerCardSliceLg" ng-show="reveal" ng-repeat="card in person.state.cardHistory track by $index">
                            <div class="card{{card}}"></div>
                        </div>
                        <div class="pokerCardLg" ng-show="person.state.needBreak">
                            <div class="cardBreak"></div>
                        </div>
                        <p class="displayName" ng-class="{noApp: !person.hasAppEnabled}">{{person.displayName}}</p>
                        <p class="noApp" ng-hide="person.hasAppEnabled">Scrum Poker not loaded.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="dialogOuter" ng-show="showConfig">
            <div class="dialogMiddle">
                <div class="dialogInner config">
                    <h2>Config</h2>

                    <h3>Participant zone</h3>
                    <label>Minimum size: <span class="value">{{cfg.lgMinSize}}</span></label> 
                    <input type="range" min="1" max="128" ng-model="cfg.lgMinSize" /> 
                    <label>Maximum size: <span class="value">{{cfg.lgMaxSize}}</span></label> 
                    <input type="range" min="1" max="128" ng-model="cfg.lgMaxSize" />

                    <h3>My cards</h3>
                    <label>Selectable card size: <span class="value">{{cfg.smSize}}</span></label> 
                    <input type="range" min="1" max="128" ng-model="cfg.smSize" /> 
                    <div>
                        <div class="pokerCardLg" title="Everyone sees this">
                            <div class="{{cfg.cardBack}}"></div>
                        </div>
                        <label title="Everyone sees this">Card back:</label>
                        <select ng-model="iconCategory" ng-options="value as key for (key, value) in icons"></select>
                        <div class="selectableIcons">
                            <span ng-repeat="icon in iconCategory" class="{{icon.classes}}" ng-click="cfg.cardBack = icon.classes" title="{{icon.name}}"></span>
                        </div>
                    </div>

                    <div>
                        <input type="checkbox" ng-model="debug.enabled">Enable debug menu
                    </div>

                    <div class="buttons">
                        <button class="iconBtn" ng-click="applyConfig()"><span class="fa fa-check"/></button>
                    </div>
                    <div class="configFooter"></div>
                </div>
            </div>
        </div>

        <div class="dialogOuter" ng-show="debug.showData">
            <div class="dialogMiddle">
                <div class="dialogInner config">
                    <h2>Debug</h2>
                    <div class="buttons">
                        <button class="iconBtn" ng-click="debug.enableData(false)"><span class="fa fa-check"/></button>
                    </div>
                    <div class="configFooter"></div>
                </div>
            </div>
        </div>

        <div class="footer" ng-show="debug.enabled">
            <button ng-click="debug.addPeople()">Fake People</button>
            <button ng-click="debug.enableData(true)">Show data</button>
            <button ng-click="autoSizeMainList()">Resize</button>
        </div>

        <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-animate.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/js-yaml/3.0.2/js-yaml.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
        <script>
/* ###app.js### */
        </script>
    </body>
</html>
